/* postmodern like modern */
@import url('../modern.css');

/**************
 * Main stuff *
 **************/
body {
  background-color: #000;
  color: #000;
                           scrollbar-face-color: 000;
		           scrollbar-shadow-color: 9681c4;
		           scrollbar-highlight-color:9681c4;
		           scrollbar-3dlight-color: d6c1ff;
		           scrollbar-darkshadow-color: d6c1ff;
		           scrollbar-track-color: 000;
		           scrollbar-arrow-color: b6a1e4;
}


/* Fix for PRE double-spacing [bug 21] */
pre br {display:none}
/* End fix */

p.logo {
  background: asset-url("logo-small.png") no-repeat;
  width: 150px;
  height: 75px;
}
table.main, div#wrapper {
 bgcolor: #fff;
  background: asset-url("styles/blue/stripes.jpg") repeat;
  border: 1px #CCC solid;
  padding: 10px;
}
td.left, div#nav {
  border: #000 solid;
  border-width: 0px 1px 0px 0px;
}
td.right {
  border: #000 solid;
  border-width: 0px 0px 0px 1px;
}

/******************
 * Forms and misc *
 ******************/
input, button {
  background-color: #FFF;
}
table.mainpanel input,
div#nav input, div#nav button {
 background-color: #eee;
  border: 1px #999 solid;
 color: #005
}
hr {
  color: #005;
  height: 1;
}
/*************
 * Nav links *
 *************/
a.main, #links a {

  display: block;
  background: asset-url("styles/blue/blueborder.jpg") no-repeat;
  width: 150px;
  height: 24px;
  font-family: Geneva, Arial, Helvetica, san-serif;
  font-weight: bold;
  font-variant: small-caps;
  font-size: x-small;
  text-decoration: none;
  text-align: center;
  color: #000;
  padding-top: 5px;
  margin-top: -5px;
}
a.main:hover, #links a:hover {
  background: asset-url("styles/blue/bluesolid.jpg") no-repeat;
}
#nav li {
  margin-left: 0;
}
/********************
 * Top of plan info *
 ********************/
p.main, p.main2, p.main3, p.main4,
#header li span.title {
  width: 150px;
  height: 24px;
  font-family: Geneva, Arial, Helvetica, san-serif;
  font-weight: bold;
  font-variant: small-caps;
  font-size: x-small;
  text-decoration: none;
  text-align: center;
  color: #000;
  padding-top: 5px;
  margin-top: -5px;
}
#header li span.title {
  display: inline-block;
}
p.main, #header li.username span.title {
  background: asset-url("styles/blue/greysolid.jpg") no-repeat;
}
p.main2, #header li.lastupdated span.title {
  background: asset-url("styles/blue/bluesolid.jpg") no-repeat;
}
p.main3, #header li.lastlogin span.title {
  background: asset-url("styles/blue/yellowsolid.jpg") no-repeat;
}
p.main4, #header li.planname span.title {
  background: asset-url("styles/blue/redsolid.jpg") no-repeat;
}
/******************
 * Autofinger nav *
 ******************/
p.lev2, a.lev2, a.lev3,
a.autoreadlink, li.autoreadentry a {
  background: asset-url("styles/blue/yellowborder.jpg") no-repeat;
  width: 150px;
  height: 24px;
  font-family: Geneva, Arial, Helvetica, san-serif;
  font-weight: bold;
  font-variant: small-caps;
  font-size: x-small;
  text-decoration: none;
  text-align: center;
  color: #000;
  padding-top: 5px;
  margin-top: -5px;
}
a.lev2, a.lev3 {
  display: block;
}
#autoread a {
  display: inline-block;
}
a.lev2:hover, #autoread a.autoreadlink:hover {
  background: asset-url("styles/blue/yellowsolid.jpg") no-repeat;
}
a.lev3, #autoread li.autoreadentry a {
  background: asset-url("styles/blue/redsolid.jpg") no-repeat;
  color: #000;
  font-weight: normal;
}
a.lev3:hover, #autoread li.autoreadentry a:hover {
  background: asset-url("styles/blue/redborder.jpg") no-repeat;
  text-decoration: none;
}
/*****************
 * In-plan Links *
 *****************/
a.planlove {
  color: #47a;
  text-decoration: none;
}
a.planlove:hover {
  text-decoration: underline;
}
a.planlove:visited {
  color: #69F;
}

a.boardlink {
  color: #47a;
  text-decoration: none;
}
a.boardlink:hover {
  text-decoration: underline;
}
a.boardlink:visited {
  color: #69F;
}


a.onplan {
  color: #09F;
  text-decoration: none;
}
a.onplan:hover {
  text-decoration: underline;
}
a.onplan:visited {
  color: #69F;
}


/***************
 * Notes Board *
 ***************/
.noteslight, #notes_board tr.even, #notes_thread li.even {
  background: #fffff0;
  border-style: solid;
  border-width: 1px;
  border-color: #47a;
}
.notesdark, #notes_board tr.odd, #notes_thread li.odd {
  background: #f0eeff;
  border-style: solid;
  border-width: 1px;
  border-color: #47a;
}
