%h1 Preferences
%ul#preflist
  - each_with_list_classes %w[account display] do |section, classes|
    %li{ class: classes }
      = link_to t("links.#{section}"), dynamic_link_helper("preferences_#{section}_path"), class: "preflink"
