<%= form_for(@secret) do |f| %>
  <% if @secret.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@secret.errors.count, "error") %> prohibited this secret from being saved:</h2>

      <ul>
      <% @secret.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
