= form_for(@secret) do |f|
  -if @secret.errors.any?
    .error_explanation
      %h2
        = pluralize(@secret.errors.count, "error") 
        prohibited this secret from being saved:
      %ul
        -@secret.errors.full_messages.each do |msg|
          %li
            = msg
  =f.label :secret_text, "Secret"
  =f.text_area :secret_text
  #actions
    = f.submit