%a{:href=>"javascript:void(0)", :onclick=>"toggleShowHide('submitsecret', this, 'Post a Secret', 'Cancel')", :id=>"post_secret_toggle"}
  Post a Secret
%script{:type => "text/javascript"}
  window.onload=function(){ document.getElementById('submitsecret').style.display = 'none'; };

#submitsecret.form
  = form_for(@secret) do |f|
    %div
      -if @secret.errors.any?
        .error_explanation
          %h2
            = pluralize(@secret.errors.count, "error") 
            prohibited this secret from being saved:
          %ul
            -@secret.errors.full_messages.each do |msg|
              %li
                = msg
      .form_prompt.textareainput       
        =f.label :secret_text, "Secret"
        =f.text_area :secret_text, {:rows=>"10",  :cols=>"50"}
      = f.submit "Post", {:class=>"submitinput"}