#infomessage
  %span#title Info
  %span#body Here you can post anonymously. This page was created to help give wgemigh his plan back, and to make it possible to paginate an increasing number of secrets. Please add this page as an optional link under 'preferences'.

#infomessage
  %span#title Info
  %span#body Secrets cannot be tracked by any Plans administrator. If you're still worried, you may log out before posting. We can exercise editorial discretion as to what shows up.

=render :partial =>"form"

%h1 Listing secrets
= will_paginate @secrets

-@secrets.each do |secret|
  = secret.secret_id
  %b
    =l secret.date
  %br
  = secret.secret_text
  %br