<h1>Listing secrets</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @secrets.each do |secret| %>
  <tr>
    <td><%= link_to 'Show', secret %></td>
    <td><%= link_to 'Edit', edit_secret_path(secret) %></td>
    <td><%= link_to 'Destroy', secret, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Secret', new_secret_path %>
