Use of the GrinnellPlans service means you have accepted the 
=link_to("GrinnellPlans Terms of Service agreement"," http://www.grinnellplans.com/tos")
\.
If you do not accept and abide by this agreement, you may not use GrinnellPlans. This agreement is subject to change without notice, so you should periodically review the most up-to-date version. You may contact us at 
=mail_to "grinnellplans@gmail.com"