.links
  %h2 Links
  %ul
    -unless current_account.blank?
      -for link in current_account.avail_links
        /#todo add "first" class
        %li{:class=>"a#{cycle('even', 'odd')}" }
          =link.html_code.to_s.html_safe #TODO railsify
      %li#last
        = link_to "Log out", account_session_path, :method => :delete
