#links
  %h2 Links
  %ul.linkslist
    -unless current_account.blank?
      /#todo add "first" class
      -for link in current_account.avail_links.active
        %li{:class=>"#{cycle('even', 'odd')}" }
          = link_to link.linkname, send(link.path_helper)
      %li#last
        = link_to "Log out", account_session_path, :method => :delete

