#links
  %h2 Links
  %ul.linkslist
    -unless current_account.blank?
      - each_with_list_classes(current_account.nav_links) do |link, classes|
        %li{ class: classes }
          = link_to link.linkname, send(link.path_helper), method: link.http_method
