#finger.form
  =form_tag(main_app.search_plans_path, method: :get)do
    %div
      %div{:class=>"form_prompt textinput"}
        = text_field_tag :q, "", id: :searchname
      = hidden_field :follow_usernames, true
      = button_tag "Read", {:class=>"submitinput"}
