!!!
%html{:dir=>"ltr"}
  %head
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html", :charset=>"utf-8"}
    %title GrinnellPlans
    = stylesheet_link_tag :all
    = csrf_meta_tag
    = javascript_include_tag "http://www.google.com/jsapi?key=TODO"
    :javascript
      google.load("jquery", "1.5.0");
      google.load("jqueryui", "1.8.10");
    = javascript_include_tag :defaults, "old/chroma-hash.js"
    :javascript
      $(document).ready(function() {
      $("#username").focus();
      $("input:password").chromaHash({bars: 3, salt: "5bf999ac93430ed303cd0b56f976e289", minimum: 4});
      });
  %body{:bgcolor=>"#ffffff"} 
    =yield
    =unless @current_account.blank?
      =render :partial=>"/layouts/links"
      =render :partial => "/layouts/autofinger"
    =render :partial=>"/layouts/footer"