-if @confirmation_email_sent
  %p
    ="An email with your activation link was just sent to #{@user_email}. Please check your email and navigate to the activation link."
  %br
  Normally this email should be delivered instantaneously; however if you did not receive an activation email, please contact a plans admin at grinnellplans@gmail.com.