- if @account_created
  %p
    Thank you for confirming your email! We have emailed you your Plans password.
  %p
    Please <a href='/'>login</a> using your new password.
- else
  %p
    Account could not be created. Please try again. If the problem persists, please contact a system administrator.

